.hero-section {
  width: 100%;
  height: auto;
  padding: 0;
  padding-top: 100px;
  margin: 0;
  text-align: center;
  background: linear-gradient(rgba(black, 0.5), rgba(black, .6)), url("http://localhost:5500/dist/images/bike1.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .container-fluid,
  .row,
  .col-auto {
    padding: 0;
    margin: 0;
  }

  .content-wrapper {
    margin: 300px auto 0;
    text-align: center;
    //background: red;
    padding-bottom: 60px;

    @include l-screen {
      margin: 500px auto 0;
    }

    h1 {
      font-weight: bold;
      color: color(white);
      margin-bottom: 20px;;
    }
  }
}
