<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        .overlay-effect-container
            .initial-overlay-effect
        main#home-page  
            include ../components/header.pug
            include ../components/hero.pug
            include ../components/carousel.pug
            include ../components/form-section.pug
            include ../components/second-section.pug
            include ../components/banner-last-section.pug
            include ../components/footer.pug