section.second-section
    .container-fluid
        .row.banner-last-section-row.justify-content-center.align-items-center     
            .col
                h2.heading.text-center READY TO RIDE?
                button.btn.d-block BUY NOW