section.carousel-section
    #carouselExampleSlidesOnly.carousel.slide(data-ride="carousel")
        .carousel-inner
            .carousel-item.active
                img(src="http://localhost:5500/dist/images/product1.png" alt="product1").d-block.w-100
            .carousel-item
                img(src="http://localhost:5500/dist/images/product2.png" alt="product2").d-block.w-100
            .carousel-item
                img(src="http://localhost:5500/dist/images/product3.png" alt="product3").d-block.w-100 
    