footer
    .container
        .row
            .col-12.col-lg-auto.company-col
                ul.social-links
                    li
                        a(href="#")
                            include ../icons/facebook.pug
                    li
                        a(href="#")
                            include ../icons/youtube.pug
                    li
                        a(href="#")
                            include ../icons/twitter.pug
                    li
                        a(href="#")
                            include ../icons/pinterest.pug
                    li
                        a(href="#")
                            include ../icons/instagram.pug
            .col-12.col-lg.menu-col
                ul
                    li
                        a(href="#") About Us
                    li
                        a(href="#") Products
                ul
                    li
                        a(href="#") Dealers
                    li
                        a(href="#") Contact Us
            .col-12.col-lg-auto.extra-col
                img#logo.d-block(src="http://localhost:5500/dist/images/logo.svg" alt="logo")   
                p
                    | © OrangeSeal. All Rights Reserved.
