section.form-section
    h2.form-heading-h2.text-center GET EXCLUSIVE DEALS & DISCOUNTS
    form.row.justify-content-center 
        .col-8.col-md-5.form-wrapper
            input(type="email" placeholder="Enter your email").form-control
            button(type="submit").btn.btn-primary 
                span SUBMIT
                include ../icons/email.pug
