section.hero-section
    .container-fluid
        .row.justify-content-center
            .col-auto
                .content-wrapper.animation-element.slide-top
                    h1 READY FOR ANYTHING.
                    button.btn.btn-outline-primary BUY NOW