section.second-section
    .container-fluid
        .row.second-section-row.justify-content-center.align-items-center.slide-top.animation-element
            .col-md-7
                .first-image
                    img(src="http://localhost:5500/dist/images/manOrangeSeal-upt.jpg" alt="city woman bycicle")
                          
                .second-image
                    img(src="http://localhost:5500/dist/images/womanOrangeSeal-cut.jpg" alt="city man bycicle")
                  
            .col-md-5.text-center
                h2.heading FOR WHEREVER LIFE TAKES YOU.
                p.paragraph Our tire sealant allows you to repair flat tires fast and effectively in order to let you get back on the trail within seconds. Prevents and repairs flat tires for bikes and dirt bikes.
                button.btn.btn-variation BUY NOW
